@import url('https://fonts.googleapis.com/css?family=Open+Sans')

// COLOR variables
$text-color: #000
$bg-color: #fff
$head-color: #fff
$head-bg: #2980b9

// FONT variables
$basic-font: 'Open Sans', sans-serif

//MIXINS
=translate($posX, $posY)
	-ms-transform: translate($posX, $posY)
	-webkit-transform: translate($posX, $posY)
	transform: translate($posX, $posY)

// GLOBAL styles
*
	box-sizing: border-box
body 
	margin: 0
	font-family: $basic-font
	color: $text-color
	background: $bg-color
.show
	display: block
/* MAIN */
main
	background: url(../images/bg.jpg) center
	background-size: cover
	min-height: 100vh
	padding-bottom: 24px
	h1
		background: rgba(255,255,255,0.5)
		padding: 20px
		margin: 30px 0
		line-height: 1.5em
		border-radius: 10px
	#js-startGame
		padding: 20px 80px
		margin: 30px
		box-shadow: 0px 0px 10px $bg-color
	#js-gameControl
		padding: 50px 0
	h2
		font-size: 30px
	#js-winnerName
		font-weight: bold
	#js-gameTable
		padding: 50px 0
		.row
			margin: 15px 0
		[class*="col-"]
			padding: 0 20px
		#js-infoBar
			font-size: 16px
		[id*="js-player"].btn
			box-shadow: 0px 0px 10px $bg-color
			margin-bottom: 5px
		.score-board
			margin-top: 50px
		.score
			span
				font-size: 40px
		.player-name
			font-weight: bold
			font-size: 16px
		#js-playerChoise,
		#js-computerChoise
			min-height: 80px
			.fa
				padding: 10px
				border: 2px solid $text-color
				background: rgba(255,255,255,0.6) !important
				border-radius: 20px
@media (max-width: 479px)
	main
		h1
			font-size: 26px
/* FOOTER */
footer
	position: fixed
	bottom: 0
	left: 0
	right: 0
	line-height: 24px
	.js-footerbg
		display: inline-block
		padding: 0 20px
		background: rgba(255,255,255,0.5)
		border-radius: 5px 5px 0 0